@media (prefers-color-scheme: light) {
  :root {
    --color: #2e353f;
    --background: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #fff;
    --background: #000;
  }
}

.pdm-light {
  --color: #2e353f;
  --background: #fff;
}

.pdm-dark {
  --color: #fff;
  --background: #000;
}

:root {
  color: var(--color);
  background: var(--background);
}

.description code {
  color: var(--background);
  background: var(--color) !important;
}
