@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --background: black;
    --black: rgba(255, 255, 255, 1);
    --white: rgba(0, 0, 0, 1);
    --code-color: white;
    --code-background: rgb(35, 39, 49);
    --gray-100: rgba(255, 255, 255, 0.1);
    --gray-200: rgba(255, 255, 255, 0.2);
    --gray-300: rgba(255, 255, 255, 0.3);
    --gray-400: rgba(255, 255, 255, 0.4);
    --gray-500: rgba(255, 255, 255, 0.5);
    --gray-600: rgba(255, 255, 255, 0.6);
    --gray-700: rgba(255, 255, 255, 0.7);
    --gray-800: rgba(255, 255, 255, 0.8);
    --gray-900: rgba(255, 255, 255, 0.9);
    --focus: rgba(144, 205, 244, 0.5);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: black;
    --background: white;
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --code-color: black;
    --code-background: rgb(242, 245, 255);
    --gray-100: rgba(0, 0, 0, 0.1);
    --gray-200: rgba(0, 0, 0, 0.2);
    --gray-300: rgba(0, 0, 0, 0.3);
    --gray-400: rgba(0, 0, 0, 0.4);
    --gray-500: rgba(0, 0, 0, 0.5);
    --gray-600: rgba(0, 0, 0, 0.6);
    --gray-700: rgba(0, 0, 0, 0.7);
    --gray-800: rgba(0, 0, 0, 0.8);
    --gray-900: rgba(0, 0, 0, 0.9);
    --focus: rgba(236, 201, 75, 0.5);
  }
}

:root.light {
  --color: black;
  --background: white;
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --code-color: black;
  --code-background: rgb(242, 245, 255);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);
  --focus: rgba(236, 201, 75, 0.5);
}

:root.dark {
  --color: white;
  --background: black;
  --black: rgba(255, 255, 255, 1);
  --white: rgba(0, 0, 0, 1);
  --code-color: white;
  --code-background: rgb(35, 39, 49);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);
  --focus: rgba(144, 205, 244, 0.5);
}

:root.blue {
  --color: #2a4365;
  --background: #ebf8ff;
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --code-color: black;
  --code-background: #e1f2fc;
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);
  --focus: rgba(236, 201, 75, 0.5);
}

:root {
  color: var(--color);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  touch-action: pan-x pan-y;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  scroll-behavior: smooth;
}

.title {
  font-size: 24.6753px;
  line-height: 43px;
  padding: 0.05px 0;
}

.title::before {
  content: '';
  margin-top: -0.4533em;
  display: block;
  height: 0;
}

.title::after {
  content: '';
  margin-bottom: -0.5233em;
  display: block;
  height: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 36.3636px;
    line-height: 52px;
    padding: 0.05px 0;
  }

  .title::before {
    content: '';
    margin-top: -0.2964em;
    display: block;
    height: 0;
  }

  .title::after {
    content: '';
    margin-bottom: -0.3664em;
    display: block;
    height: 0;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--color) !important;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  letter-spacing: -0.05em;
}

::selection {
  background: var(--focus);
}

hr {
  border-style: solid;
}

a {
  color: var(--color);
}

a:visited {
  color: var(--color);
}

.min-w-1 {
  min-width: 120px;
}

.max-w-65 {
  max-width: 65ch;
}

button,
select {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background: var(--color);
  color: var(--background);
}

a.badge {
  text-decoration: none;
  display: inline-block;
}

svg {
  display: block;
  float: left;
}

svg .background {
  fill: var(--color);
}

svg .text {
  fill: var(--background);
}

svg .text-shadow {
  fill: var(--background);
  opacity: 0.6;
}

.prose pre {
  color: var(--code-color);
  background-color: var(--code-background);
}

.emoji {
  display: inline-block;
  background-size: contain;
  height: 1em;
  width: 1em;
  margin: 0 !important;
  margin-top: -0.25em !important;
  vertical-align: middle;
}

.emoji.light {
  background-image: url('images/light.png');
}

.emoji.dark {
  background-image: url('images/dark.png');
}

.emoji.blue {
  background-image: url('images/blue.png');
}

.markdownIt-Anchor {
  position: relative;
  text-decoration: none !important;
}

.markdownIt-Anchor::before {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  left: -1em;
  content: '#';
  visibility: hidden;
}

.markdownIt-Anchor:hover::before {
  visibility: visible;
}

.toc ul {
  list-style: none;
}

.toc a,
.toc a:visited {
  color: var(--gray-300);
}

.toc a.active,
.toc a.active:visited {
  color: var(--gray-900);
}

.toc ul ul {
  padding-inline-start: 1rem;
}

.markdownIt-TOC {
  padding: 0;
}
