@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --background: black;
    --black: rgba(255, 255, 255, 1);
    --white: rgba(0, 0, 0, 1);
    --gray-100: rgba(255, 255, 255, 0.1);
    --gray-200: rgba(255, 255, 255, 0.2);
    --gray-300: rgba(255, 255, 255, 0.3);
    --gray-400: rgba(255, 255, 255, 0.4);
    --gray-500: rgba(255, 255, 255, 0.5);
    --gray-600: rgba(255, 255, 255, 0.6);
    --gray-700: rgba(255, 255, 255, 0.7);
    --gray-800: rgba(255, 255, 255, 0.8);
    --gray-900: rgba(255, 255, 255, 0.9);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color: black;
    --background: white;
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-100: rgba(0, 0, 0, 0.1);
    --gray-200: rgba(0, 0, 0, 0.2);
    --gray-300: rgba(0, 0, 0, 0.3);
    --gray-400: rgba(0, 0, 0, 0.4);
    --gray-500: rgba(0, 0, 0, 0.5);
    --gray-600: rgba(0, 0, 0, 0.6);
    --gray-700: rgba(0, 0, 0, 0.7);
    --gray-800: rgba(0, 0, 0, 0.8);
    --gray-900: rgba(0, 0, 0, 0.9);
  }
}

:root.light {
  --color: black;
  --background: white;
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-100: rgba(0, 0, 0, 0.1);
  --gray-200: rgba(0, 0, 0, 0.2);
  --gray-300: rgba(0, 0, 0, 0.3);
  --gray-400: rgba(0, 0, 0, 0.4);
  --gray-500: rgba(0, 0, 0, 0.5);
  --gray-600: rgba(0, 0, 0, 0.6);
  --gray-700: rgba(0, 0, 0, 0.7);
  --gray-800: rgba(0, 0, 0, 0.8);
  --gray-900: rgba(0, 0, 0, 0.9);
}

:root.dark {
  --color: white;
  --background: black;
  --black: rgba(255, 255, 255, 1);
  --white: rgba(0, 0, 0, 1);
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-300: rgba(255, 255, 255, 0.3);
  --gray-400: rgba(255, 255, 255, 0.4);
  --gray-500: rgba(255, 255, 255, 0.5);
  --gray-600: rgba(255, 255, 255, 0.6);
  --gray-700: rgba(255, 255, 255, 0.7);
  --gray-800: rgba(255, 255, 255, 0.8);
  --gray-900: rgba(255, 255, 255, 0.9);
}

:root {
  color: var(--color);
  background: var(--background);
  font-family: sans-serif;
  font-size: 16px;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;
}

label {
  user-select: none;
}

hr {
  border-style: solid;
}

a {
  color: var(--color);
}

a:visited {
  color: var(--color);
}

input {
  display: none;
}

button {
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-weight: bold;
  background: var(--color);
  color: var(--background);
}

a.badge {
  text-decoration: none;
}

a.badge svg {
  height: 20px;
  display: inline-block;
  margin: 0;
}

a.badge svg .background {
  fill: var(--color);
}

a.badge svg .text {
  fill: var(--background);
}

.npm {
  margin-right: 4px;
}

.prose pre {
  background: var(--color);
}

.prose pre code {
  color: var(--background);
}
